# Discord Bot
discord.py>=2.3.2

# データベース
sqlalchemy>=1.4

# YouTube RSS
feedparser>=6.0.11

# 非同期関連
nest-asyncio>=1.5.6

# 環境変数
python-dotenv>=1.0.0

# Web サーバー
Flask>=2.3.2

# HTTP リクエスト
requests>=2.31.0